# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual Environments
augur/
venv/
.venv/
env/

# Environment configurations (Contains private API keys!)
.env
.env.*
!.env.example

# PyTorch checkpoints and model weights (should not be committed to Git due to size)
*.pt
*.pth
*.ckpt

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
